# Movie Dataset Data inspection and preprocessing

In [1]:
import numpy as np
import pandas as pd

# Read in the data
# Because the ultimate goal of our project is to build a system which predict the revenue of non-released movies, 
# we propose that the revenue is likely to be related to the case, genere, production company, and the release date of the movie.
# In the rest of this notebook, we will try to verify our hypothesis by inspecting the data.
metadata_path = 'data/movies_metadata.csv'
credit_path = 'data/credits.csv'

import warnings
# warnings.filterwarnings('ignore')

metadata = pd.read_csv(metadata_path, low_memory=False)
credit = pd.read_csv(credit_path, low_memory=False)

Since we are building a system that predict the revenue of un-released movies, the user ratings, votes, we will not have them.  
We will drop those columns.

In [2]:
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
credit.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
credit.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [6]:
id_to_drop = []
for i in range(45465+1):
    try:
        int_id = int(metadata['id'][i])
    except:
        print(i, metadata['id'][i], metadata['title'][i])
        id_to_drop.append(i)  
for i in reversed(id_to_drop):    
    metadata.drop(i, axis=0, inplace=True)

19730 1997-08-20 nan
29503 2012-09-29 nan
35587 2014-01-01 nan

In [7]:
# Because the id in metadata is string, we need to convert it to int so that we can merge the two dataframes.
metadata['id'] = metadata['id'].astype(int)
full_data = pd.merge(metadata, credit, left_on='id', right_on='id', how='left')

In [8]:
full_data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45534,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
45535,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45536,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45537,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45538,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [9]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45539 entries, 0 to 45538
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45539 non-null  object
 1   belongs_to_collection  4500 non-null   object
 2   budget                 45539 non-null  object
 3   genres                 45539 non-null  object
 4   homepage               7792 non-null   object
 5   id                     45539 non-null  int64
 6   imdb_id                45522 non-null  object
 7   original_language      45528 non-null  object
 8   original_title         45539 non-null  object
 9   overview               44585 non-null  object
 10  popularity             45536 non-null  object
 11  poster_path            45153 non-null  object
 12  production_companies   45536 non-null  object
 13  production_countries   45536 non-null  object
 14  release_date           45452 non-null  object
 15  revenue                45536 non-null  float64
 16  runtime                45279 non-null  float64
 17  spoken_languages       45536 non-null  object
 18  status                 45455 non-null  object
 19  tagline                20439 non-null  object
 20  title                  45536 non-null  object
 21  video                  45536 non-null  object
 22  vote_average           45536 non-null  float64
 23  vote_count             45536 non-null  float64
 24  cast                   45538 non-null  object
 25  crew                   45538 non-null  object
dtypes: float64(4), int64(1), object(21)
memory usage: 9.4+ MB

We can see that there are some nans in some of the columns, some columns has small numbers of nans which could be ignored. Some column like belongs_to_collection, nan means no collection that the movie is belong to, so we need to create special embedding for that. Another way of doing is some data might be nan in our csv but available online, we can find them and fill in it ourselves.

Here because there are hundreds of data missing in column release data and runtime, we just remove them.

In [10]:
full_data = full_data.dropna(subset=['release_date', 'runtime'])
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45206 entries, 0 to 45538
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45206 non-null  object
 1   belongs_to_collection  4490 non-null   object
 2   budget                 45206 non-null  object
 3   genres                 45206 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45206 non-null  int64
 6   imdb_id                45194 non-null  object
 7   original_language      45195 non-null  object
 8   original_title         45206 non-null  object
 9   overview               44511 non-null  object
 10  popularity             45206 non-null  object
 11  poster_path            44884 non-null  object
 12  production_companies   45206 non-null  object
 13  production_countries   45206 non-null  object
 14  release_date           45206 non-null  object
 15  revenue                45206 non-null  float64
 16  runtime                45206 non-null  float64
 17  spoken_languages       45206 non-null  object
 18  status                 45130 non-null  object
 19  tagline                20425 non-null  object
 20  title                  45206 non-null  object
 21  video                  45206 non-null  object
 22  vote_average           45206 non-null  float64
 23  vote_count             45206 non-null  float64
 24  cast                   45205 non-null  object
 25  crew                   45205 non-null  object
dtypes: float64(4), int64(1), object(21)
memory usage: 9.3+ MB

We have the release data in string format, we will only keep month for future use.

In [11]:
full_data['release_date'] = pd.to_datetime(full_data['release_date'], format='%Y-%m-%d',errors='coerce').dt.month.astype(int)

/var/folders/t7/xr9j3jpn5s98j2_v5033hrm00000gn/T/ipykernel_6277/48910767.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_data['release_date'] = pd.to_datetime(full_data['release_date'], format='%Y-%m-%d',errors='coerce').dt.month.astype(int)

Upon inspecting, we can see that some of the columns are json in string format. We could convert them from string to dictionary, so we save a lot of work reading useful data.

In [13]:
import json
import math
from json.decoder import JSONDecodeError

json_columns = ['belongs_to_collection', 'genres', 'spoken_languages', 'production_companies', 'production_countries', 'cast', 'crew']
# We defined those columns as json columns because they are in json format.
def correction_and_load_json(json_str):
    if isinstance(json_str, float) and math.isnan(json_str):
        return json_str
    if isinstance(json_str, dict):
        return json_str
    if json_str is None:
        return json_str
    try:
        return json.loads(json_str)
    except JSONDecodeError:
        # You can attempt to fix the JSON format by replacing single quotes with double quotes
        fixed_str = json_str.replace("'", '"')
        try:
            return json.loads(fixed_str)
        except:
            # print(json_str)
            return json_str

        # try:
        #     return json.loads(fixed_str)
        # except:
        #     # If you can't fix it, return a NaN
        #     return np.nan
    except TypeError:
        # print(json_str)
        return json_str
    except:
        print(json_str)
        # return np.nan
        return json_str

for column in json_columns:
    print("Current column: ", column)
    full_data[column] = full_data[column].map(correction_and_load_json)

Current column:  belongs_to_collection
Current column:  genres

/var/folders/t7/xr9j3jpn5s98j2_v5033hrm00000gn/T/ipykernel_6277/964500328.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_data[column] = full_data[column].map(correction_and_load_json)

Current column:  spoken_languages
Current column:  production_companies
Current column:  production_countries
Current column:  cast
Current column:  crew

In [14]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45206 entries, 0 to 45538
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45206 non-null  object
 1   belongs_to_collection  4490 non-null   object
 2   budget                 45206 non-null  object
 3   genres                 45206 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45206 non-null  int64
 6   imdb_id                45194 non-null  object
 7   original_language      45195 non-null  object
 8   original_title         45206 non-null  object
 9   overview               44511 non-null  object
 10  popularity             45206 non-null  object
 11  poster_path            44884 non-null  object
 12  production_companies   45206 non-null  object
 13  production_countries   45206 non-null  object
 14  release_date           45206 non-null  int64
 15  revenue                45206 non-null  float64
 16  runtime                45206 non-null  float64
 17  spoken_languages       45206 non-null  object
 18  status                 45130 non-null  object
 19  tagline                20425 non-null  object
 20  title                  45206 non-null  object
 21  video                  45206 non-null  object
 22  vote_average           45206 non-null  float64
 23  vote_count             45206 non-null  float64
 24  cast                   45205 non-null  object
 25  crew                   45205 non-null  object
dtypes: float64(4), int64(2), object(20)
memory usage: 10.3+ MB